.item:first-of-type {
    background: #ddd;
}
.item:nth-of-type(2) {
    background: #222;
    color: #fff;
}
.item:last-of-type {
    background: #888;
}
.item{
    width:80%;
    padding:10px;
    border:2px solid #f6f6f6;
    margin: 15px auto;
}